<%= turbo_frame_tag 'users_list_div' do %>
  <div id="users_list_div">

    <%= form_with(url: users_path, method: :get, data: { turbo_frame: 'users_list_div' }, local: true) do %>
      <div class="search-bar">
        <%= text_field_tag :search, @search, placeholder: 'Search by name', class: 'search-input' %>
        <button type="submit" class="btn-white">Search</button>
      </div>
    <% end %>

    <div id="catagory-menu" class="catagory-box">
      <% @catagories.each do |catagory| %>
        <%= form_with(url: users_path, method: :get, data: { turbo_frame: 'users_list_div' }, local: true) do %>
          <%= hidden_field_tag :category, catagory %>
          <button type="submit" class="<%= @selected_category == catagory ? 'btn-white-select' : 'btn-white' %>">
            <span><%= catagory %></span>
          </button>
        <% end %>
      <% end %>
    </div>
    
    <div id="users_list_box" class="users_list_box fade-in-up-scale">
      <% if @users.present? %>
        <div class="flex-col-start">
          <h2 class="mb-md">Users list</h2>
          <div id="users_lists" class="flex-col-start">
            <% if @users.present? %>
              <% filtered_users = @users.order(updated_at: :desc).filter { |user| user.subject == @selected_category || @selected_category == "All" } %>
              <% filtered_users = filtered_users.filter { |user| user.first_name.downcase.include?(@search.downcase) || user.last_name.downcase.include?(@search.downcase) } %>
              <% if filtered_users.any? %>
                <% filtered_users.each do |user| %>
                  <%= render 'user', user: user %>
                <% end %>
              <% else %>
                <p>No users found for the selected category.</p>
              <% end %>
            <% else %>
              <p>No users found.</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
